In [1]:
name="MalarvizhiSendhilMani"

In [2]:
print(name[5])

v

In [3]:
print(name.index("v"))

5

In [5]:
print(name.index("i",2))

6

In [8]:
print(name.index("i",10))

15

In [9]:
print(name.index("i",2,15))

6

In [12]:
print(name.rindex("i"))
print(name.index("i"))

20
6

In [15]:
#Find and Index same
print(name.index("i"))
print(name.find("i"))

6
6

In [14]:
print(name.index("j"))

ValueError: substring not found

In [17]:
print(name.find("j"))

-1

In [18]:
#rfind,rindex same

print(name.rindex("j"))

ValueError: substring not found

In [19]:
print(name.rfind("j"))

-1

In [20]:
print(name.rfind(j)) #Without double codes name error will come

NameError: name 'j' is not defined

In [21]:
name1="MalarvizhiSendilMani"

In [22]:
print(name1)

MalarvizhiSendilMani

In [23]:
print(name1.split("a"))

['M', 'l', 'rvizhiSendilM', 'ni']

In [24]:
print(name1.split("a",1))

['M', 'larvizhiSendilMani']

In [25]:
print(name1.replace("a","&"))

M&l&rvizhiSendilM&ni

In [26]:
print(name1.replace("a","&",4))

M&l&rvizhiSendilM&ni

In [27]:
print(name1.count("a"))

3

In [28]:
print(name1.count("a",4))
#4th position la irunthu start panni check pannurathu

1

In [29]:
print(name1.count("a",3))
#3rd position la irunthu start panni check pannurathu

2

In [30]:
name3= "MalarvizhiSendhilmani"
print(name3)

MalarvizhiSendhilmani

In [31]:
print(name3.startswith("M"))
print(name3.endswith("i"))

True
True

In [32]:
print(name3.startswith("t"))
print(name3.endswith("r"))

False
False

In [34]:
message= "    hi Welcome  "
print(message.strip())
print(message.lstrip())
print(message.rstrip())

hi Welcome
hi Welcome
    hi Welcome

In [36]:
num= 123
print(type(num))
print(isinstance(num,int))

<class 'int'>
True

In [37]:
num= "123"
print(type(num))
print(isinstance(num,int))

<class 'str'>
False

In [38]:
num= 123.0
print(type(num))
print(isinstance(num,float))

<class 'float'>
True

In [39]:
#Type cascading 
num1="123"
num2 =int(num1)
print(num2)
print(type(num2))

123
<class 'int'>

In [40]:
name_new="malar"
name_new1=int(name_new)
print(name_new1)
print(type(name_new1))

ValueError: invalid literal for int() with base 10: 'malar'

In [41]:
num1_new="123"
num2_new =float(num1_new)
print(num2_new)
print(type(num2_new))

123.0
<class 'float'>

In [43]:
nam_new="3455malar123"
nam_new1=int(nam_new)
print(nam_new1)
print(type(nam_new1))

ValueError: invalid literal for int() with base 10: '3455malar123'

In [ ]:
##LIST
name="malar"
age=42
loc="bangalore"
#ipdi pottah name space

In [45]:
a=["arun",21,"chennai"]
print(type(a))
print(isinstance(a))

<class 'list'>

TypeError: isinstance expected 2 arguments, got 1

In [46]:
a=["arun",21,"chennai"]
print(type(a))

<class 'list'>

In [48]:
print(isinstance(a,list))

True

In [52]:
a1=["arun","21","chennai"]

In [55]:
print(len(a1))
print(min(a1))
print(max(a1))
print(sorted(a1))

3
21
chennai
['21', 'arun', 'chennai']

In [56]:
a3=["arun",21,"chennai"]

In [57]:
print(len(a3))
print(min(a3))
print(max(a3))
print(sorted(a3))

3

TypeError: '<' not supported between instances of 'int' and 'str'

In [58]:
a3=["arun","21","chennai"]

In [59]:
print(a3[0])

arun

In [60]:
print(a3[-1])

chennai

In [61]:
print(a3[::-1])

['chennai', '21', 'arun']

In [62]:
print(a3[1::])

['21', 'chennai']

In [63]:
print(a3[1:2])

['21']

In [64]:
#
a=["arun","kumar","viji"]

In [65]:
a.append("venki")

In [66]:
print(a)

['arun', 'kumar', 'viji', 'venki']

In [69]:
a.insert(2,"harini")

In [70]:
print(a)

['arun', 'kumar', 'harini', 'viji', 'viji', 'venki']

In [71]:
a.remove('viji')

In [72]:
print(a)

['arun', 'kumar', 'harini', 'viji', 'venki']

In [73]:
del a[2]
print(a)

['arun', 'kumar', 'viji', 'venki']

In [75]:
a1=['arun','kishore','try','try']
b=a1.pop()
print(b)
print(a1)

try
['arun', 'kishore', 'try']

In [78]:
s=['arun','kishore','try','try']

In [77]:
s.remove('try')
print(s)

['arun', 'kishore', 'try']

In [79]:
s=['arun','kishore','try','try']
s1=s.pop(2)
print(s1)
print(s)

try
['arun', 'kishore', 'try']

In [ ]:
#shallow - shared
#deep -diff

In [80]:
a=[1,2,3]
b=a
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [81]:
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [82]:
a11=[1,2,3]
b11=a11.copy()
a11.append(4)
print(a11)
print(b11)

[1, 2, 3, 4]
[1, 2, 3]

In [83]:
g=[1,2,3]
h=[4,5,6]
g.append(h)
print(g)
#list kullah list ah append aguthi

[1, 2, 3, [4, 5, 6]]

In [84]:
#i need all shouldbe come in same list
g1=[1,2,3]
h1=[4,5,6]
g1.extend(h1)
print(g1)

[1, 2, 3, 4, 5, 6]

In [85]:
a=("arun","kumar")

In [87]:
print(type(a))

<class 'tuple'>

In [91]:
print(isinstance(a,tuple))

True

In [92]:
print(len(a))
print(min(a))
print(max(a))

2
arun
kumar

In [93]:
print(sorted(a))

['arun', 'kumar']

In [94]:
print(a[0])
print(a[::-1])

arun
('kumar', 'arun')

In [95]:
a.append("welcome")

AttributeError: 'tuple' object has no attribute 'append'

In [106]:
#assignment 2
#remove space
a = " hello welcome today how are you  "
print(a)
print(a.strip())
print(a.replace(" ",""))

 hello welcome today how are you
hello welcome today how are you
hellowelcometodayhowareyou

In [110]:
names="SachinTendular"
print(names)
print(names.replace("a","$"))
print(names.replace("n","#"))

SachinTendular
S$chinTendul$r
Sachi#Te#dular

In [120]:
names="SachinTendular"
print(names)
print(names.replace("a","$").replace("n","#"))

SachinTendular
S$chi#Te#dul$r

In [119]:
print(names.replace("a","$").replace("n","#"))

S$chi#Te#dul$r

In [130]:
a = ["arun", "21" , "chennai"]
print(type(a))
print(a)
print(a[0])
print(a[0][0])
print(a[0][-1])
print(a[2])
print(a[2][0])
print(a[2][-1])

<class 'list'>
['arun', '21', 'chennai']
arun
a
n
chennai
c
i

In [142]:
a1 = ["arun", "21" , "chennai"]
print(a1)
print(a1.index("chennai"))

['arun', '21', 'chennai']
2

In [148]:
a3 = ["arun", "21" , "chennai"]
print(a3)
print(tuple(a3))
print(type(a3))
print(isinstance(a3,list))
print(isinstance(a3,tuple))

['arun', '21', 'chennai']
('arun', '21', 'chennai')
<class 'list'>
True
False