In [2]:
a={1,1,1,1,1,2,2,2,3,3,3,4}
print (a)

{1, 2, 3, 4}

In [3]:
print(type(a))

<class 'set'>

In [5]:
print(isinstance(a,set))

True

In [6]:
print(min(a))

1

In [7]:
print(max(a))

4

In [8]:
print(sorted(a))

[1, 2, 3, 4]

In [9]:
print(len(a))

4

In [ ]:
# set is removed duplication.It wont allow
#set is not supported for indexing
#soreted na kuduthalum output comes list

In [10]:
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}

In [12]:
s ={1,2,3}
t={1,2,3,4,5,6}
print(s.issubset(t))
print(t.issuperset(s))

True
True

In [13]:
print(t.issubset(s))
print(s.issuperset(t))

False
False

In [ ]:
#ethu first set la irukuratha + extra numbers vachu irukutho athu than superset
#remaning one is subset

In [ ]:
d=[["arun","chennai","25"],["32","Kuamr","Madurai"]]
#we cant go with indexing , because order mari iruku
#so we can go with  dictonary

In [14]:
d={"name":"kumar","age":20,"location":"Madurai"}

In [15]:
print(d)

{'name': 'kumar', 'age': 20, 'location': 'Madurai'}

In [ ]:
#{k:value,k:value}

In [18]:
print(type(d))
print(isinstance(d,dict))
print(min(d))
print(max(d))
print(sorted(d))
print(len(d))

<class 'dict'>
True
age
name
['age', 'location', 'name']
3

In [19]:
print(d["name"])

kumar

In [20]:
print(d["age"])
print(d["location"])

20
Madurai

In [21]:
print(d["demo"])# demo nu oru value illa so error varum nama print pannum pothu

KeyError: 'demo'

In [28]:
print(d.get("location"))

Madurai

print(d.get("demo"))

In [27]:
print(d.get("demo"))
#ippo get("demo") nu kudutha namaku none nu varum antha key value illainalum
#ippo ennaku athukum some value va return pannanum nah just type get("demo","test")
#kudutha "none" ku pathilah "test" nu varum.

None

In [25]:
print(d.get("demo","test"))

test

In [29]:
print(d)

{'name': 'kumar', 'age': 20, 'location': 'Madurai'}

In [30]:
d["state"]="Tamilnadu"
#New va key value add pannurathu we can add like this

In [31]:
print(d)

{'name': 'kumar', 'age': 20, 'location': 'Madurai', 'state': 'Tamilnadu'}

In [33]:
#ippo same key value name ah kudutha latest ah enna value assign panninamo athu than eduthukum
d["name"]="Sendhil"
print(d)

{'name': 'Sendhil', 'age': 20, 'location': 'Madurai', 'state': 'Tamilnadu'}

In [34]:
del d["state"]
print(d)

{'name': 'Sendhil', 'age': 20, 'location': 'Madurai'}

In [38]:
d.pop("age")

KeyError: 'age'

In [39]:
print(d)

{'name': 'Sendhil', 'location': 'Madurai'}

In [40]:
d.popitem()
print(d)

{'name': 'Sendhil'}

In [41]:
p={"name":"malar","age":34,"location":"bangalore"}

In [42]:
print(p)

{'name': 'malar', 'age': 34, 'location': 'bangalore'}

In [43]:
p.pop("age")

34

In [44]:
print(p)

{'name': 'malar', 'location': 'bangalore'}

In [45]:
p.popitem()
print(p)
#last ah irukurah items a remove paniduthu
#we can do like this also
#   b=(d.popitem())
#   print(d)
#   print(b)

{'name': 'malar'}

In [49]:
f={"name":"malarsendhil","age":35,"location":"bangalore"}

In [50]:
print(f)

{'name': 'malarsendhil', 'age': 35, 'location': 'bangalore'}

In [51]:
print(f.keys())
print(f.values())
print(f.items())

dict_keys(['name', 'age', 'location'])
dict_values(['malarsendhil', 35, 'bangalore'])
dict_items([('name', 'malarsendhil'), ('age', 35), ('location', 'bangalore')])

In [52]:
g={"name":"mani","age":34,"location":"Mangalore"}

In [53]:
print(g)

{'name': 'mani', 'age': 34, 'location': 'Mangalore'}

In [54]:
b=(g.popitem())

In [55]:
print(g)
print(b)

{'name': 'mani', 'age': 34}
('location', 'Mangalore')

In [57]:
## OPERATORS

x=5
y=2
print(x+y)
print(x-y)
print(x/y) #normal division
print(x%y) # modulus gives remainder
print(x//y) #floor division gives Quitient
print(x*y)

7
3
2.5
1
2
10

In [59]:
#relational operator (double equal is relational opeartor)
i=5
j=4
print(i==j)
print(i!=j)
print(i>j)
print(i>=j)
print(i<j)
print(i<=j)

False
True
True
True
False
False

In [60]:
#assignment operator
k=3
k=k+3
print(k)

6

In [61]:
l=4
l+=3
print(l)

7

In [62]:
#logical 
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(not True)
print(not False)

True
False
True
True
False
True

In [ ]:
#Assignment
#1.a=["hi","hi","hello","welcome"]
#Remove the duplicates want op in list
#2.a={"name":"kiran","age":20,"location":"chennai"}
#get age check datatpe
#get location value and check datatype
#get name value and check datatype

#3.Add a new key value to the above dictonary