In [2]:
#Print
#*****
print ("Hello World")
#Shift +Enter is short cut key for running the code

Hello World

In [3]:
print("hi")
print("welcome")
print("to the Python class")

hi
welcome
to the Python class

In [5]:
print("hi\nwelcome\nto the class")
#\n means "next(new) line" will come

hi
welcome
to the class

In [7]:
print("hi\twelcome\ttotheclass")
#\t means "Tab"

hi	welcome	totheclass

In [ ]:
#Comment
#*******
#Comment is user to capture users input
#1. Single line comment - starts with #
#2.Multiline comments - starts with """ ends with """
#Shortcut key Ctrl A select agum 
#ctrl A / uncomment agum

In [8]:
#print("hi")
print("hello")
#print("welcome")

hello

In [9]:
"""
print("hi")
print("hello")
print("welcome")
"""

'\nprint("hi")\nprint("hello")\nprint("welcome")\n'

In [10]:
"""
hi Welcome
How are you
"""

'\nhi Welcome\nHow are you\n'

In [11]:
#repeated need to print 
print ("welcome to today class")

welcome to today class

In [12]:
print("welcome to today class")

welcome to today class

In [22]:
#so here we declared of variable
a = "Welcome to today class"
print(a)

Welcome to today class

In [25]:
#variable can starts with text and _(Underscore)
#variable cannot start with number and Special char
test1 = "demo"
1test ="test"

SyntaxError: invalid decimal literal (286206989.py, line 4)

In [28]:
t1="hi"
_t2="hiii"
print(t1)
print(_t2)

hi
hiii

In [29]:
#variable name should not have any spl char
test@="hai"
print(test@)

SyntaxError: invalid syntax (1418553243.py, line 3)

In [30]:
#Types of values are supported by Python
#Data types
##string - anything comes in double quotes
a="Malar"
print(a)
print(type(a))

Malar
<class 'str'>

In [31]:
print(isinstance(a,str))
#function returns True if the specified object is of 
#the specified type
#ie true or false

True

In [32]:
##Length of the string
print(len(a))

5

In [34]:
##minimum and maximum  and sorted of string
print(min(a))
#returns the item with the lowest value, 
#or the item with the lowest value in an iterable.
print(max(a))
# function returns the item with the highest value, 
#or the item with the highest value in an iterable
print(sorted(a))
# function returns a sorted list of the specified iterable 
#object. You can specify ascending or descending order. 
#Strings are sorted alphabetically,

M
r
['M', 'a', 'a', 'l', 'r']

In [ ]:
#ASCII A-Z = 65 to 90
#ASCII a-to = 97-122

In [35]:
#method returns a string where all characters are in upper case
print(a.upper())
# The lower() method returns a string where all characters are lower case
print(a.lower())
# method returns a string where all the upper case letters are lower case and vice versa.
print(a.swapcase())
#method returns True if all the characters are in upper case, otherwise False
print(a.isupper())
#method returns True if all the characters are in lower case, otherwise False. Numbers, symbols and spaces are not checked,
print(a.islower())
# method returns True if all the characters are digits, otherwise False. Exponents, like Â²,
#are also considered to be a digit.
print(a.isdigit())

MALAR
malar
mALAR
False
False
False

In [36]:
#method returns True if all the characters are alphabet letters (a-z).
#Example of characters that are not alphabet letters
print(a.isalpha())
#method returns True if all the characters are alphanumeric, 
#meaning alphabet letter (a-z) and numbers (0-9)
print(a.isalnum())

True
True

In [ ]:
#indexing
#0    1   2   3    4    5 
#p    y   t   h    o    n
#-6  -5  -4  -3  -2   -1

In [37]:
b="MalarvizhiChinnamandiu"
print(b)

MalarvizhiChinnamandiu

In [38]:
print(a)

Malar

In [39]:
print(a[2])

l

In [40]:
print(a[-4])

a

In [41]:
print(a[-3])

l

In [42]:
print(a[-1])

r

In [43]:
print(a[0])

M

In [45]:
print(a[-7]) #beyond the limit means shows this error

IndexError: string index out of range

In [46]:
print(b[0:5])

Malar

In [47]:
print(b[5:10])

vizhi

In [50]:
print(b[:])

MalarvizhiChinnamandiu

In [52]:
print(b[::1])

MalarvizhiChinnamandiu

In [53]:
print(b[::2])

MlrihCinmni

In [54]:
print(b[::3])

Maiiianu

In [55]:
#Reverse String
print(b[::-1])

uidnamannihCihzivralaM

In [56]:
#how to get a input from user
input()

12

'12'

In [57]:
input()

My name is Malar

'My name is Malar'

In [ ]:
#Question 1: identify the last letter of a word without using reverse index
#Question 2: get input from a user and assign it to a variable
#Question3 : drom question2 variables check the data type
#question4: from question 3 get full digit and check isdigit is working or not

In [ ]:
name = "Malarvizhi"
last_letter = name[len(name) - 1]
print(last_letter)

In [63]:
n= "MalarvizhiSendhilMani"
last_letter = n[len(n)-1]
print(last_letter)

i

In [64]:
s=input("Enter your Name: ")

Enter your Name: MalarvizhiSendhilMani

In [66]:
print(type(s))

<class 'str'>

In [67]:
print(s.isdigit())

False

In [ ]:
print(n.index())